
<app-header4></app-header4>
<section class="homeSection paddTop">
    <div class="leftTop position">
        <img src="assets/img/4.png" alt="img">
    </div>
    <div class="rightTop position">
        <img src="assets/img/1.png" alt="img">
    </div>
    <div class="leftbottom position">
        <img src="assets/img/3.png" alt="img">
    </div>
    <div class="rightbottom position">
        <img src="assets/img/2.png" alt="img">
    </div>
    <div class="container">
        <div class="homeInner loginAll">
 <form action="">
     <div class="logoLo">
         <img src="assets/img/logo.png" alt="logo">
     </div>
     <div class="formHeading">
         <h2>Forgot Password</h2>
         <p>Enter your email.</p>
     </div>
     <div class="form-group loginDet">
         <span><img src="assets/img/email.svg" alt="email"></span>
         <label for="">Email</label>
         <input type="text" class="form-control" placeholder="Email" value="dwaynejohnson@gmail.com">
     </div>
  
    <div class="forget">
        <button routerLink="/otp">Forgot Password</button>
    </div>
 </form>


        </div>
    </div>
</section>
