<footer class="footerAll">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="footerMenu">
                    <h2>Company</h2>
                    <ul>
                        <li><a href="javascript:void(0)">About Us</a></li>
                        <li><a href="javascript:void(0)">Team</a></li>
                        <li><a href="javascript:void(0)">Just Bite Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footerMenu">
                    <h2>Top Cuisines</h2>
                    <ul>
                        <li><a   [routerLink]="['/restaurants-all']">Chinese</a></li>
                        <li><a [routerLink]="['/restaurants-all']">Indian</a></li>
                        <li><a [routerLink]="['/restaurants-all']">Italian</a></li>
                        <li><a [routerLink]="['/restaurants-all']">Sushi</a></li>
                        <li><a [routerLink]="['/restaurants-all']">Pizza</a></li>
                        <li><a [routerLink]="['/restaurants-all']" class="viewAll">View all cuisines</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="footerMenu">
                    <h2>We Deliver To</h2>
                    <ul>
                        <li><a [routerLink]="['/restaurants-all']">Birmingham</a></li>
                        <li><a [routerLink]="['/restaurants-all']">Cardiff</a></li>
                        <li><a [routerLink]="['/restaurants-all']">Glasgrow</a></li>
                        <li><a [routerLink]="['/restaurants-all']">Leeds</a></li>
                        <li><a [routerLink]="['/restaurants-all']">Manchester</a></li>
                        <li><a [routerLink]="['/restaurants-all']" class="viewAll">View all locations</a></li>
                    </ul>
                </div>
            </div>
  <div class="col-sm-3">
                <div class="footerMenu">
                    <h2 class="followUs">Follow Us On</h2>
                    <ul class="socialIcon">
         <li><a href="javascript:void(0)"><img src="assets/img/facebook.svg" alt="icon"></a></li>
         <li><a href="javascript:void(0)"><img src="assets/img/twitter.svg" alt="icon"></a></li>
         <li><a href="javascript:void(0)"><img src="assets/img/youtube.svg" alt="icon"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
