<app-header3></app-header3>
 
<section class="homeSection homeHeight">
    <div class="leftTop position">
        <img src="assets/img/4.png" alt="img">
    </div>
    <div class="rightTop position">
        <img src="assets/img/1.png" alt="img">
    </div>
    <div class="leftbottom position">
        <img src="assets/img/3.png" alt="img">
    </div>
    <div class="rightbottom position">
        <img src="assets/img/2.png" alt="img">
    </div>
    <div class="container">
        <div class="homeInner">
            <h2 class="main">Lorem Ipsum is simply dummy text</h2>
            <p class="main">Find Restaurants Delivering right now,<span class="paddLeft">near you</span></p>
            <form action="" class="flexAl">
                <div class="form-group location">
                    <span class="loca"><img src="assets/img/location.svg" alt="location"></span>
                    <span class="loca2"><img src="assets/img/location2.svg" alt="location"></span>
                    <input type="text" class="form-control" placeholder="Enter Location">
                </div>
                <div class="form-group butns">
                    <input type="button" class="btns btnHover" value="Find Restaurant"  [routerLink]="['/restaurants']">
                </div>
            </form>

        </div>
    </div>
</section>

<section class="RestSlider">
    <div class="container">
        <div class="rstInSlider">

            <owl-carousel-o [options]="customOptions">

                <ng-template carouselSlide>
                    <div class="itemsfirst">
                        <div class="itemLeft">
                            <img src="assets/img/setting.svg" alt="setting">
                        </div>
                        <div class="itemRight">
                            <h2>Burger King</h2>
                            <p>Stir-Fried Spicy and Herb </p>
                            <h5>Italian</h5>
                            <h3>FOOD25</h3>
                            <h5>Till : 17/02/2021 , 12:00</h5>
                        </div>
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="itemsfirst">
                        <div class="itemLeft">
                            <img src="assets/img/setting.svg" alt="setting">
                        </div>
                        <div class="itemRight">
                            <h2>Burger King</h2>
                            <p>Stir-Fried Spicy and Herb </p>
                            <h5>Italian</h5>
                            <h3>FOOD25</h3>
                            <h5>Till : 17/02/2021 , 12:00</h5>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="itemsfirst">
                        <div class="itemLeft">
                            <img src="assets/img/setting.svg" alt="setting">
                        </div>
                        <div class="itemRight">
                            <h2>Burger King</h2>
                            <p>Stir-Fried Spicy and Herb </p>
                            <h5>Italian</h5>
                            <h3>FOOD25</h3>
                            <h5>Till : 17/02/2021 , 12:00</h5>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="itemsfirst">
                        <div class="itemLeft">
                            <img src="assets/img/setting.svg" alt="setting">
                        </div>
                        <div class="itemRight">
                            <h2>Burger King</h2>
                            <p>Stir-Fried Spicy and Herb </p>
                            <h5>Italian</h5>
                            <h3>FOOD25</h3>
                            <h5>Till : 17/02/2021 , 12:00</h5>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="itemsfirst">
                        <div class="itemLeft">
                            <img src="assets/img/setting.svg" alt="setting">
                        </div>
                        <div class="itemRight">
                            <h2>Burger King</h2>
                            <p>Stir-Fried Spicy and Herb </p>
                            <h5>Italian</h5>
                            <h3>FOOD25</h3>
                            <h5>Till : 17/02/2021 , 12:00</h5>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="itemsfirst">
                        <div class="itemLeft">
                            <img src="assets/img/setting.svg" alt="setting">
                        </div>
                        <div class="itemRight">
                            <h2>Burger King</h2>
                            <p>Stir-Fried Spicy and Herb </p>
                            <h5>Italian</h5>
                            <h3>FOOD25</h3>
                            <h5>Till : 17/02/2021 , 12:00</h5>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="itemsfirst">
                        <div class="itemLeft">
                            <img src="assets/img/setting.svg" alt="setting">
                        </div>
                        <div class="itemRight">
                            <h2>Burger King</h2>
                            <p>Stir-Fried Spicy and Herb </p>
                            <h5>Italian</h5>
                            <h3>FOOD25</h3>
                            <h5>Till : 17/02/2021 , 12:00</h5>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="itemsfirst">
                        <div class="itemLeft">
                            <img src="assets/img/setting.svg" alt="setting">
                        </div>
                        <div class="itemRight">
                            <h2>Burger King</h2>
                            <p>Stir-Fried Spicy and Herb </p>
                            <h5>Italian</h5>
                            <h3>FOOD25</h3>
                            <h5>Till : 17/02/2021 , 12:00</h5>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="itemsfirst">
                        <div class="itemLeft">
                            <img src="assets/img/setting.svg" alt="setting">
                        </div>
                        <div class="itemRight">
                            <h2>Burger King</h2>
                            <p>Stir-Fried Spicy and Herb </p>
                            <h5>Italian</h5>
                            <h3>FOOD25</h3>
                            <h5>Till : 17/02/2021 , 12:00</h5>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="itemsfirst">
                        <div class="itemLeft">
                            <img src="assets/img/setting.svg" alt="setting">
                        </div>
                        <div class="itemRight">
                            <h2>Burger King</h2>
                            <p>Stir-Fried Spicy and Herb </p>
                            <h5>Italian</h5>
                            <h3>FOOD25</h3>
                            <h5>Till : 17/02/2021 , 12:00</h5>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>

        </div>
    </div>
</section>

<section class="mypastOrder">
    <div class="container">
        <div class="orderInner">
            <h2 class="head head2">My Past Orders</h2>
            <div class="marginBoth">
                <owl-carousel-o [options]="Orderoption">

                    <ng-template carouselSlide>
                        <div class="pastOrders">
                            <div class="orderUp">
                                <h2>Pizzaro</h2>
                                <p>AED 98.00</p>
                            </div>
                            <div class="orderdown">
                                <p>1X Mushroom Soup <span>+1 more</span></p>
                                <a [routerLink]="['/checkout']"><span class="refresh"><img src="assets/img/refresh.svg" alt="refresh"></span> re-order</a>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="pastOrders">
                            <div class="orderUp">
                                <h2>Pizzaro</h2>
                                <p>AED 98.00</p>
                            </div>
                            <div class="orderdown">
                                <p>1X Mushroom Soup <span>+1 more</span></p>
                                <a [routerLink]="['/checkout']"><span class="refresh"><img src="assets/img/refresh.svg" alt="refresh"></span> re-order</a>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="pastOrders">
                            <div class="orderUp">
                                <h2>Pizzaro</h2>
                                <p>AED 98.00</p>
                            </div>
                            <div class="orderdown">
                                <p>1X Mushroom Soup <span>+1 more</span></p>
                                <a [routerLink]="['/checkout']"><span class="refresh"><img src="assets/img/refresh.svg" alt="refresh"></span> re-order</a>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="pastOrders">
                            <div class="orderUp">
                                <h2>Pizzaro</h2>
                                <p>AED 98.00</p>
                            </div>
                            <div class="orderdown">
                                <p>1X Mushroom Soup <span>+1 more</span></p>
                                <a href="javascript:void(0)"><span class="refresh"><img src="assets/img/refresh.svg" alt="refresh"></span> re-order</a>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="pastOrders">
                            <div class="orderUp">
                                <h2>Pizzaro</h2>
                                <p>AED 98.00</p>
                            </div>
                            <div class="orderdown">
                                <p>1X Mushroom Soup <span>+1 more</span></p>
                                <a href="javascript:void(0)"><span class="refresh"><img src="assets/img/refresh.svg" alt="refresh"></span> re-order</a>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<section class="popularBrand">
    <div class="container">
        <div class="popInner">
            <h2 class="head head2">Popular Brand</h2>
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <img src="assets/img/icon1.svg" alt="icon">
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="assets/img/icon2.svg" alt="icon">
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="assets/img/icon3.svg" alt="icon">
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="assets/img/icon1.svg" alt="icon">
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="assets/img/icon2.svg" alt="icon">
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="assets/img/icon3.svg" alt="icon">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="RestaurantArea">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="FilterBox">

                        <div class="Search">
                            <span><i class="fa fa-search"></i></span>
                            <input type="text" placeholder="Search by Restaurant">
                        </div>

                        <h2>Filter By</h2>

                        <aside>
                            <h4>Rating</h4>
                            <ol class="Radios">
                                <li>
                                    <input type="radio" name="rating">
                                    <span><i class="fa fa-star"></i> 1</span>
                                </li>
                                <li>
                                    <input type="radio" name="rating">
                                    <span><i class="fa fa-star"></i> 2</span>
                                </li>
                                <li>
                                    <input type="radio" name="rating">
                                    <span><i class="fa fa-star"></i> 3</span>
                                </li>
                                <li>
                                    <input type="radio" name="rating">
                                    <span><i class="fa fa-star"></i> 4</span>
                                </li>
                                <li>
                                    <input type="radio" name="rating">
                                    <span><i class="fa fa-star"></i> 5</span>
                                </li>
                            </ol>
                        </aside>

                        <aside>
                            <h4>Rating <span>15 Min - 25 Min</span></h4>
                           <div class="rangeSilder">
                            <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
                           </div>
                        </aside>

                        <aside>
                            <h4>Distance <span>0 Km - 5 Km</span></h4>
                            <div class="rangeSilder">
                                <ng5-slider [(value)]="value2" [(highValue)]="highValue2" [options]="options"></ng5-slider>
                               </div>
                        </aside>

                        <aside>
                            <h4>Dietary Needs </h4>
                            <ul class="Checkboxx">
                                <li>
                                    <input type="checkbox">
                                    <span>Vegetarian</span>
                                </li>
                                <li>
                                    <input type="checkbox">
                                    <span>Vegan</span>
                                </li>
                                <li>
                                    <input type="checkbox">
                                    <span>Gluten Free</span>
                                </li>
                                <li>
                                    <input type="checkbox">
                                    <span>Keto</span>
                                </li>
                                <li>
                                    <input type="checkbox">
                                    <span>Paleo</span>
                                </li>
                                <li>
                                    <input type="checkbox">
                                    <span>Kosher</span>
                                </li>
                                <li>
                                    <input type="checkbox">
                                    <span>Halal</span>
                                </li>      
                            </ul>
                        </aside>

                        <div id="accordion"> 
                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                                    <h5>Offers</h5>
                                </div>
                                <div id="collapseOne" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum..
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" href="#collapseTwo">
                                    <h5>Cuisines</h5>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                    Lorem ipsum..
                                    </div>
                                </div>
                            </div> 
                        </div>

                    </div>
                </div>
                <div class="col-sm-9 RestaurantRight">
                    
                        
                    <div class="RestaurantHead">
                        <h2>All Restaurants</h2>
                    </div>

                    <div class="RestaurantBox outlineAll" [routerLink]="['/restaurants-details']">
                        <figure>
                            <img src="assets/img/Burger-logo.png">
                        </figure>
                        <figcaption>
                            <div>
                                <h3>Burger King</h3>
                                <h4><img src="assets/img/star.png"> 4.9 <span class="reviewAll" [routerLink]="['/review']">(592 Reviews)</span></h4>
                                <h5>Burger, Whoppers, Sides, Breakfast</h5>

                                <ul>
                                    <li>
                                        <img src="assets/img/clock.png">
                                        25 Min
                                    </li>
                                    <li>
                                        <span class="Price">AED 50.00</span> 
                                        <span class="Title">Minimum Order Value</span>
                                    </li>
                                </ul>
                            </div>
                            <aside>
                                <span><i class="fa fa-heart"></i></span>
                                <h6><img src="assets/img/scooter.png"> AED 5.00</h6>
                                <p>Delivery fee</p>
                            </aside>
                        </figcaption>
                    </div>
                    
                    <div class="RestaurantBox outlineAll" [routerLink]="['/restaurants-details']">
                        <figure>
                            <img src="assets/img/Burger-logo.png">
                        </figure>
                        <figcaption>
                            <div>
                                <h3>Burger King</h3>
                                <h4><img src="assets/img/star.png"> 4.9 <span class="reviewAll" [routerLink]="['/review']">(592 Reviews)</span></h4>
                                <h5>Burger, Whoppers, Sides, Breakfast</h5>

                                <ul>
                                    <li>
                                        <img src="assets/img/clock.png">
                                        25 Min
                                    </li>
                                    <li>
                                        <span class="Price">AED 50.00</span> 
                                        <span class="Title">Minimum Order Value</span>
                                    </li>
                                </ul>
                            </div>
                            <aside>
                                <span><i class="fa fa-heart"></i></span>
                                <h6><img src="assets/img/scooter.png"> AED 5.00</h6>
                                <p>Delivery fee</p>
                            </aside>
                        </figcaption>
                    </div>
                    
                    <div class="RestaurantBox outlineAll" [routerLink]="['/restaurants-details']">
                        <figure>
                            <img src="assets/img/Burger-logo.png">
                        </figure>
                        <figcaption>
                            <div>
                                <h3>Burger King</h3>
                                <h4><img src="assets/img/star.png"> 4.9 <span class="reviewAll" [routerLink]="['/review']">(592 Reviews)</span></h4>
                                <h5>Burger, Whoppers, Sides, Breakfast</h5>

                                <ul>
                                    <li>
                                        <img src="assets/img/clock.png">
                                        25 Min
                                    </li>
                                    <li>
                                        <span class="Price">AED 50.00</span> 
                                        <span class="Title">Minimum Order Value</span>
                                    </li>
                                </ul>
                            </div>
                            <aside>
                                <span><i class="fa fa-heart"></i></span>
                                <h6><img src="assets/img/scooter.png"> AED 5.00</h6>
                                <p>Delivery fee</p>
                            </aside>
                        </figcaption>
                    </div>
                    
                    <div class="RestaurantBox outlineAll" [routerLink]="['/restaurants-details']">
                        <figure>
                            <img src="assets/img/Burger-logo.png">
                        </figure>
                        <figcaption>
                            <div>
                                <h3>Burger King</h3>
                                <h4><img src="assets/img/star.png"> 4.9 <span class="reviewAll" [routerLink]="['/review']">(592 Reviews)</span></h4>
                                <h5>Burger, Whoppers, Sides, Breakfast</h5>

                                <ul>
                                    <li>
                                        <img src="assets/img/clock.png">
                                        25 Min
                                    </li>
                                    <li>
                                        <span class="Price">AED 50.00</span> 
                                        <span class="Title">Minimum Order Value</span>
                                    </li>
                                </ul>
                            </div>
                            <aside>
                                <span><i class="fa fa-heart"></i></span>
                                <h6><img src="assets/img/scooter.png"> AED 5.00</h6>
                                <p>Delivery fee</p>
                            </aside>
                        </figcaption>
                    </div>
                    
                    <div class="RestaurantBox outlineAll" [routerLink]="['/restaurants-details']">
                        <figure>
                            <img src="assets/img/Burger-logo.png">
                        </figure>
                        <figcaption>
                            <div>
                                <h3>Burger King</h3>
                                <h4><img src="assets/img/star.png"> 4.9 <span class="reviewAll" [routerLink]="['/review']">(592 Reviews)</span></h4>
                                <h5>Burger, Whoppers, Sides, Breakfast</h5>

                                <ul>
                                    <li>
                                        <img src="assets/img/clock.png">
                                        25 Min
                                    </li>
                                    <li>
                                        <span class="Price">AED 50.00</span> 
                                        <span class="Title">Minimum Order Value</span>
                                    </li>
                                </ul>
                            </div>
                            <aside>
                                <span><i class="fa fa-heart"></i></span>
                                <h6><img src="assets/img/scooter.png"> AED 5.00</h6>
                                <p>Delivery fee</p>
                            </aside>
                        </figcaption>
                    </div>
                    
                    <div class="RestaurantBox outlineAll" [routerLink]="['/restaurants-details']">
                        <figure>
                            <img src="assets/img/Burger-logo.png">
                        </figure>
                        <figcaption>
                            <div>
                                <h3>Burger King</h3>
                                <h4><img src="assets/img/star.png"> 4.9 <span class="reviewAll" [routerLink]="['/review']">(592 Reviews)</span></h4>
                                <h5>Burger, Whoppers, Sides, Breakfast</h5>

                                <ul>
                                    <li>
                                        <img src="assets/img/clock.png">
                                        25 Min
                                    </li>
                                    <li>
                                        <span class="Price">AED 50.00</span> 
                                        <span class="Title">Minimum Order Value</span>
                                    </li>
                                </ul>
                            </div>
                            <aside>
                                <span><i class="fa fa-heart"></i></span>
                                <h6><img src="assets/img/scooter.png"> AED 5.00</h6>
                                <p>Delivery fee</p>
                            </aside>
                        </figcaption>
                    </div>
                    
                    <div class="RestaurantBox outlineAll" [routerLink]="['/restaurants-details']">
                        <figure>
                            <img src="assets/img/Burger-logo.png">
                        </figure>
                        <figcaption>
                            <div>
                                <h3>Burger King</h3>
                                <h4><img src="assets/img/star.png"> 4.9 <span class="reviewAll" [routerLink]="['/review']">(592 Reviews)</span></h4>
                                <h5>Burger, Whoppers, Sides, Breakfast</h5>

                                <ul>
                                    <li>
                                        <img src="assets/img/clock.png">
                                        25 Min
                                    </li>
                                    <li>
                                        <span class="Price">AED 50.00</span> 
                                        <span class="Title">Minimum Order Value</span>
                                    </li>
                                </ul>
                            </div>
                            <aside>
                                <span><i class="fa fa-heart"></i></span>
                                <h6><img src="assets/img/scooter.png"> AED 5.00</h6>
                                <p>Delivery fee</p>
                            </aside>
                        </figcaption>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>

