<app-header2></app-header2>

<section>
	<div class="CheckoutArea">
		<div class="container">
			<div class="prdoct product22">
				<h2>Order Details</h2>
			</div>
			<div class="checkoutProduct">
				<div class="orderResSumm">
					<h2 class="">ORDER FROM</h2>
					<h3>Burger King</h3>
					<p>Connaught Place, New Delhi</p>
				</div>
<div class="checkoutBoxsh">
	<div class="ProductBox viss ProductBox22">

		<article>
			<!-- <figure>
				<img src="assets/img/subway.png">
			</figure> -->
			<figcaption class="newVeg">
				<h3>Panner Tikka</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
				<h4>AED 90.00</h4>
			</figcaption>
		</article>
		<aside>
	
			<div class="number-spinner">
				<ngx-number-spinner [value]="0" (change)="change($event)" [min]="1">
				</ngx-number-spinner>
			</div>
		</aside>
	</div>
<div class="ProductBox viss ProductBox22">

		<article>
			<!-- <figure>
				<img src="assets/img/subway.png">
			</figure> -->
			<figcaption class="newVeg newVeg2">
				<h3>Chicken Teriyaki 6 Inch Sandwich</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
				<h4>AED 90.00</h4>
			</figcaption>
		</article>
		<aside>
	
			<div class="number-spinner">
				<ngx-number-spinner [value]="0" (change)="change($event)" [min]="1">
				</ngx-number-spinner>
			</div>
		</aside>
	</div>
	<div class="ProductBox viss ProductBox22">

		<article>
			<!-- <figure>
				<img src="assets/img/subway.png">
			</figure> -->
			<figcaption class="newVeg">
				<h3>Panner Tikka</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
				<h4>AED 90.00</h4>
			</figcaption>
		</article>
		<aside>
	
			<div class="number-spinner">
				<ngx-number-spinner [value]="0" (change)="change($event)" [min]="1">
				</ngx-number-spinner>
			</div>
		</aside>
	</div>
<div class="ProductBox viss ProductBox22">

		<article>
			<!-- <figure>
				<img src="assets/img/subway.png">
			</figure> -->
			<figcaption class="newVeg newVeg2">
				<h3>Chicken Teriyaki 6 Inch Sandwich</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
				<h4>AED 90.00</h4>
			</figcaption>
		</article>
		<aside>
	
			<div class="number-spinner">
				<ngx-number-spinner [value]="0" (change)="change($event)" [min]="1">
				</ngx-number-spinner>
			</div>
		</aside>
	</div>
	<div class="ProductBox viss ProductBox22">

		<article>
			<!-- <figure>
				<img src="assets/img/subway.png">
			</figure> -->
			<figcaption class="newVeg">
				<h3>Panner Tikka</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
				<h4>AED 90.00</h4>
			</figcaption>
		</article>
		<aside>
	
			<div class="number-spinner">
				<ngx-number-spinner [value]="0" (change)="change($event)" [min]="1">
				</ngx-number-spinner>
			</div>
		</aside>
	</div>

</div>
			</div>




			<div class="CheckoutBox">
				<h2>Order Time</h2>

				<div class="orderFlex">
					<div class="radio radionow Scheduler">
						<input id="radio-94" name="radio23" type="radio">
						<label for="radio-94" class="radio-label">
							Now
						</label>
					</div>
					<div class="schudle">
						<div class="radio radionow schudd">
							<input id="radio-95" name="radio23" type="radio">
							<label for="radio-95" class="radio-label">
								Schedule for later
							</label>
						</div>
						<div class="timePicker">
							<input id="timepicker1" type="text" placeholder="12:00 A.M" name="timepicker1" />
						</div>
					</div>
				</div>

				<div class="TimeBox">


					<p><img src="assets/img/info.png"> All our delivers are contact free for your convenience</p>
				</div>
			</div>

			<div class="CheckoutBox">
				<h2>Delivery Address <a href="javascript:void(0)" class="newAddd" data-toggle="modal"
						data-target="#myModal">Add New Address</a></h2>

				<div class="saveAddress">
					<div class="row">
						<div class="col-sm-4">
							<div class="radio">
								<input id="radio-19" name="radio9" type="radio" checked>
								<label for="radio-19" class="radio-label">
									<span class="addresDettails">
										<h2>Home
											<span class="edit" data-toggle="modal" data-target="#myModaltrash"><img
													src="assets/img/trash.svg" alt="trash"
													style="width:20px;margin-left: 10px;"></span>
											<span class="edit" data-toggle="modal" data-target="#myModal5"><img
													src="assets/img/pen.svg" alt="pen"></span>
										</h2>
										<p><img src="assets/img/edit.svg" alt="edit">
											52 Riverside St.
											Norcross, GA 30092
										</p>
									</span>
								</label>
							</div>
						</div>
						<div class="col-sm-4">

							<div class="radio">
								<input id="radio-29" name="radio9" type="radio">
								<label for="radio-29" class="radio-label">
									<span class="addresDettails">
										<h2>Office
											<span class="edit" data-toggle="modal" data-target="#myModaltrash"><img
													src="assets/img/trash.svg" alt="trash"
													style="width:20px;margin-left: 10px;"></span>
											<span class="edit" data-toggle="modal" data-target="#myModal5"><img
													src="assets/img/pen.svg" alt="pen"></span>
										</h2>
										<p><img src="assets/img/edit.svg" alt="edit">
											52 Riverside St.
											Norcross, GA 30092
										</p>
									</span>
								</label>
							</div>
						</div>

					</div>

				</div>
			</div>

			<div class="CheckoutBox">
				<h2>Special request</h2>
				<div class="Special">
					<aside>
						<div class="CheckBox homo2">
							<input type="checkbox" checked="">
							<span class="Check"></span>
						</div>
						<span class="Icon"><img src="assets/img/spoon.png"></span>
						<h5>No Cutlery <span>Less plastic is the best plastic</span> </h5>
					</aside>

					<aside class="homo">
						<div class="CheckBox homo1">
							<input type="checkbox">
							<span class="Check"></span>
						</div>
						<span class="Icon"><img src="assets/img/message.png"></span>
						<h5>Add a note <span>Anything else we need to know</span></h5>
					</aside>
				</div>
			</div>
			<div class="noteShow">

				<div class="addAnote">
					<div class="form-group loginDet" style="padding-left: 15px;">

						<label for="">Message</label>
						<textarea type="text" class="form-control" placeholder="Message" rows="3"></textarea>

					</div>

					<div class="centerBtn centerBtn2">
						<a href="javascript:void(0)" class="btns btnCancel"><i class="fa fa-paper-plane"></i></a>
					</div>
				</div>
			</div>

			<!-- <div class="CheckoutBox">
				<h2>Promo Code</h2>
				<div class="CodeBox">
					<input type="text" placeholder="FOOD100">
					<button>Applied</button>
				</div>
			</div> -->

			<div class="CheckoutBox">
				<h2>Payment method</h2>
				<div class="PaymentBox">
					<div class="row">
						<div class="col-sm-6">
							<div class="PaymentBoxLeft">
								<ul>

									<li>
										<div class="Icon">
											<span>
												<img src="assets/img/payment-1.png">
											</span>
											<p>Credit Card</p>
										</div>
										<div class="Radio">
											<input type="radio" name="payment">
											<span></span>
										</div>
									</li>
									<li>
										<div class="Icon">
											<span>
												<img src="assets/img/payment-2.png">
											</span>
											<p>ApplePay</p>
										</div>
										<div class="Radio">
											<input type="radio" name="payment">
											<span></span>
										</div>
									</li>
									<li>
										<div class="Icon">
											<span>
												<img src="assets/img/payment-3.png">
											</span>
											<p>Samsung Pay</p>
										</div>
										<div class="Radio">
											<input type="radio" name="payment">
											<span></span>
										</div>
									</li>
									<li>
										<div class="Icon">
											<span>
												<img src="assets/img/payment-4.png">
											</span>
											<p>Ali Pay</p>
										</div>
										<div class="Radio">
											<input type="radio" name="payment">
											<span></span>
										</div>
									</li>
									<li>
										<div class="Icon">
											<span>
												<img src="assets/img/payment-5.png">
											</span>
											<p>Cash on Delivery</p>
										</div>
										<div class="Radio">
											<input type="radio" name="payment">
											<span></span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="PaymentBoxRight">

								<div class="CheckoutBox CheckoutBoxnewpro">
									<h2>Promo Code</h2>
									<div class="CodeBox">
										<input type="text" placeholder="FOOD100">
										<button>Applied</button>
									</div>
								</div>

								<p>Promo Code <span></span> </p>
								<p>Delivery Charge <span>AED 0.00</span></p>
								<p>Subtotal <span>AED 90.00</span></p>
								<p>Coupon Discount <span> - AED 10.00</span></p>
								<h4>Total <span>AED 80.00</span></h4>
								<div class="parapp">
									<p><img src="assets/img/info.png" style="    width: 24px;
    margin: 0 10px 0 0;">Order once placed cannot be cancelled and are non-refundable.</p>
								</div>
								<a href="javascript:void(0);" [routerLink]="['/myorder2']">Checkout</a>

							</div>
						</div>
					</div>
				</div>
			</div>






		</div>
	</div>
</section>


<div class="modal modalNew" id="myModal5">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Edit Your Location</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body modalBody">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d27933.01775425541!2d77.72781870000001!3d28.939115449999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1615536051980!5m2!1sen!2sin"
					width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>

			<div class="modal-footer">
				<div class="row flexCss widthhund">
					<div class="col-sm-7">

						<div class="form-group loginDet">
							<span><img src="assets/img/loc.svg" alt="email"></span>

							<input type="text" class="form-control paddingAll" placeholder="A-44, Sector 44, Noida"
								value="A-44, Sector 44, Noida">

						</div>
						<div class="form-group loginDet ">

							<input type="text" class="form-control paddingAll" placeholder="Building/Apartment No.">


						</div>
					</div>
					<div class="col-sm-5 btnBot">
						<button class="btnss btnHover" data-toggle="modal" data-target="#myModal6"
							data-dismiss="modal">Update Location</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="modal modalNew2" id="myModal6">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-body modalBody modalBody2">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="modalBod">
					<h2>Set Location As</h2>
					<p>A-44, Sector 44, Noida</p>
					<div class="form-group loginDet " style="padding-left: 0;">
						<input type="text" class="form-control paddingAll" placeholder="Name You Address"
							style="text-align: center;">

					</div>
					<div class="radioNew">
						<div class="radio">
							<input id="radio-102" name="radio12" type="radio" checked>
							<label for="radio-102" class="radio-label">
								Home
							</label>
						</div>


						<div class="radio">
							<input id="radio-201" name="radio12" type="radio">
							<label for="radio-201" class="radio-label">
								Office
							</label>
						</div>
					</div>
					<div class="centerBtn ">
						<a href="javascript:void(0)" class="btns" data-dismiss="modal">Update</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<app-footer2></app-footer2>




<div class="modal modalNew" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Choose Your Location</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body modalBody">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d27933.01775425541!2d77.72781870000001!3d28.939115449999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1615536051980!5m2!1sen!2sin"
					width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>

			<div class="modal-footer">
				<div class="row flexCss widthhund">
					<div class="col-sm-7">

						<div class="form-group loginDet">
							<span><img src="assets/img/loc.svg" alt="email"></span>

							<input type="text" class="form-control paddingAll" placeholder="A-44, Sector 44, Noida"
								value="A-44, Sector 44, Noida">

						</div>
						<div class="form-group loginDet ">

							<input type="text" class="form-control paddingAll" placeholder="Building/Apartment No.">


						</div>
					</div>
					<div class="col-sm-5 btnBot">
						<button class="btnss btnHover" data-toggle="modal" data-target="#myModal2"
							data-dismiss="modal">Set Location</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="modal modalNew2" id="myModal2">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-body modalBody modalBody2">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="modalBod">
					<h2>Set Location As</h2>
					<p>A-44, Sector 44, Noida</p>
					<div class="form-group loginDet " style="padding-left: 0px;">
						<input type="text" class="form-control paddingAll paddLeff" placeholder="Name You Address"
							style="text-align: center;">

					</div>
					<div class="radioNew">
						<div class="radio ">
							<input id="radio-12" name="radio1" type="radio" checked>
							<label for="radio-12" class="radio-label">
								Home
							</label>
						</div>


						<div class="radio ">
							<input id="radio-21" name="radio1" type="radio">
							<label for="radio-21" class="radio-label">
								Office
							</label>
						</div>

						<div class="radio">
							<input id="radio-25" name="radio1" type="radio">
							<label for="radio-25" class="radio-label clickShow">
								Other
							</label>
						</div>
					</div>

					<div class="centerBtn">
						<a href="javascript:void(0)" class="btns" data-dismiss="modal"
							style=" font-weight: 700;">Save</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modalNew modalNew44" id="myModaltrash">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Are you sure ,you want to remove this address</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body modalBody">
				<div class=" btnBot btnBotmodd">
					<button class="btnss btnHover" data-dismiss="modal">Yes</button>
					<button class="btnss btnHover" data-dismiss="modal">No</button>
				</div>
			</div>

		</div>
	</div>
</div>