
<app-header4></app-header4>
<section class="homeSection paddTop">
    <div class="leftTop position ">
        <img src="assets/img/4.png" alt="img">
    </div>
    <div class="rightTop position ">
        <img src="assets/img/1.png" alt="img">
    </div>
    <div class="leftbottom position">
        <img src="assets/img/3.png" alt="img">
    </div>
    <div class="rightbottom position">
        <img src="assets/img/2.png" alt="img">
    </div>
    <div class="container">
        <div class="homeInner loginAll">
 <form action="">
     <div class="logoLo">
         <img src="assets/img/logo.png" alt="logo">
     </div>
     <div class="formHeading">
         <h2>Enter Your Code</h2>
         <p>Enter the code we just sent.</p>
     </div>
<div class="verfication form-group">
    <input type="text" maxlength="1" class="form-control">
    <input type="text" maxlength="1" class="form-control">
    <input type="text" maxlength="1" class="form-control">
    <input type="text" maxlength="1" class="form-control">
    <input type="text" maxlength="1" class="form-control">
    <input type="text" maxlength="1" class="form-control">
</div>
<div class="forget forget2">
    <a href="javascript:void(0)" class="resend" >Resend code</a>
    <button routerLink="/forgot" style="margin-top: 25px;">Next</button>
</div>
 </form>

        </div>
    </div>
</section>


