
<app-header4></app-header4>
<section class="homeSection paddTop">
    <div class="leftTop position">
        <img src="assets/img/4.png" alt="img">
    </div>
    <div class="rightTop position">
        <img src="assets/img/1.png" alt="img">
    </div>
    <div class="leftbottom position">
        <img src="assets/img/3.png" alt="img">
    </div>
    <div class="rightbottom position">
        <img src="assets/img/2.png" alt="img">
    </div>
    <div class="container">
        <div class="homeInner loginAll">
 <form action="">
     <div class="logoLo">
         <img src="assets/img/logo.png" alt="logo">
     </div>
     <div class="formHeading">
         <h2>Login</h2>
         <p>Enter your email and password.</p>
     </div>
     <div class="form-group loginDet">
         <span><img src="assets/img/email.svg" alt="email"></span>
         <label for="">Email</label>
         <input type="text" class="form-control" placeholder="Email" value="dwaynejohnson@gmail.com">
     </div>
     <div class="form-group loginDet">
        <span><img src="assets/img/lock.svg" alt="email"></span>
        <label for="">Password</label>
        <input type="password" class="form-control" placeholder="Password" value="dddeeeee">
        <span class="eye active"><i class="fa fa-eye faactive"></i></span>
    </div>
    <div class="forget">
        <a routerLink="/enteremail">Forgot Password?</a>
        <button routerLink="/home2">Login</button>
        <a href="javascript:void(0)" class="creat btnHover" routerLink="/createaccount">Create Account</a>
    </div>
 </form>


        </div>
    </div>
</section>
