<app-header4></app-header4>
<section class="homeSection paddTop">
    <div class="leftTop position ">
        <img src="assets/img/4.png" alt="img">
    </div>
    <div class="rightTop position ">
        <img src="assets/img/1.png" alt="img">
    </div>
    <div class="leftbottom position">
        <img src="assets/img/3.png" alt="img">
    </div>
    <div class="rightbottom position">
        <img src="assets/img/2.png" alt="img">
    </div>
    <div class="container">
        <div class="homeInner loginAll">
 <form action="">
     <div class="logoLo">
         <img src="assets/img/logo.png" alt="logo">
     </div>
     <div class="formHeading">
         <h2>Set Password</h2>
         <p>Enter a  password.</p>
     </div>
     <div class="form-group loginDet">
        <span><img src="assets/img/lock.svg" alt="email"></span>
        <label for=""> Password</label>
        <input type="password" id="password1" class="form-control" placeholder="Password" value="dddeeeee">
        <span class="eye active3"><i class="fa fa-eye faactive2"></i></span>
    </div>
     <div class="form-group loginDet">
        <span><img src="assets/img/lock.svg" alt="email"></span>
        <label for="">Re-enter  password</label>
        <input type="password" id="password2" class="form-control" placeholder="Password" value="dddeeeee">
        <span class="eye active5"><i class="fa fa-eye faactive3"></i></span>
    </div>
    <div class="forget">
        <button routerLink="/login">Submit</button>
    </div>
 </form>

        </div>
    </div>
</section>
