<app-header2></app-header2>

<section>
	<div class="RestaurantsDetailsArea">
		<div class="container">
			<div class="RestaurantsDetailsHead">
				
				<aside>
					<img src="assets/img/Restaurants.png">
				</aside>

				<article>
	               	<figure>
	                    <img src="assets/img/Burger-logo.png">
	                </figure>
	                <figcaption>
	                	<span class="Wishlist"><i class="fa fa-heart"></i></span>
	                	<h3>Burger King</h3> 
	                    <h5>Burger, Whoppers, Sides, Breakfast</h5>
	                    <ul>
	                        <li>
	                            <img src="assets/img/star.png">
	                            4.9
	                        </li> 
	                        <li>
	                            <img src="assets/img/clock2.png">
	                            20-25 Min
	                        </li> 
	                        <li>
	                            <img src="assets/img/scooter2.png">
	                            Free Delivery
	                        </li> 
	                    </ul>
	                    <ul>
	                        <li>
	                            <img src="assets/img/tracking.png">
	                            Live Tracking
	                        </li> 
	                        <li>
	                            <img src="assets/img/Closed.png">
	                            Closed
	                        </li>  
							<li>
	                            <img src="assets/img/shopping-bag.svg" style="width:20px">
	                            Min order Amount <span class="boldCore" style="font-weight: 700;padding-left:5px"> AED 10.00</span>
	                        </li>  
	                    </ul>
	                </figcaption>
	            </article>

			</div>


			<div class="RestaurantsDetailsBody">
				<div class="row">
					<div class="col-sm-3 RestaurantsDetailsLeft"> 
						<div class="Search">
                            <span><i class="fa fa-search"></i></span>
                            <input type="text" placeholder="Search by Restaurants">
                        </div>

						<h3>Menu Categories</h3>

						<ul>
							<li><a href="javascript:void(0);">Tex Max</a></li>
							<li><a href="javascript:void(0);">Sandwiches</a></li>
							<li><a href="javascript:void(0);">Breakfast</a></li>
							<li><a href="javascript:void(0);">Drinks</a></li>
							<li><a href="javascript:void(0);">Indian</a></li>
							<li><a href="javascript:void(0);">Chinese</a></li>
							<li><a href="javascript:void(0);">Italian</a></li>
							<li><a href="javascript:void(0);">6 Inch Meals</a></li>
							<li><a href="javascript:void(0);">Signature Wrap</a></li>
							<li><a href="javascript:void(0);">Footlong Meals</a></li> 
						</ul> 
					</div>
					<div class="col-sm-9">
						<div class="RestaurantsDetailsRight">

							<div class="RestaurantsDetailsCart">
								<aside>
									<!-- <p>Add item minimum cost of AED 10.00</p> -->
									<!-- <a href="javascript:void(0);" [routerLink]="['/checkout']">
										<div>
											<p>1 Item</p>
											<h6>AED 90.00 <span>plus taxes</span></h6>
										</div>
										<h5 >View Cart</h5>
									</a> -->
								</aside>
							</div>

							<div id="accordion"> 
	                            <div class="card">
	                                <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
	                                    <h5>Recommended</h5>
	                                </div>
	                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
	                                    <div class="card-body">
	                                        <div class="DishList">
	                                        	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                        	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                        	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>

	                            <div class="card" id="Mex">
	                                <div class="card-header" data-toggle="collapse" href="#collapseTwo">
	                                    <h5>Tex Mex</h5>
	                                </div>
	                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
	                                    <div class="card-body">
	                                    	<div class="DishList">
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div> 

	                            <div class="card">
	                                <div class="card-header" data-toggle="collapse" href="#collapseThree">
	                                    <h5>Sandwiches</h5>
	                                </div>
	                                <div id="collapseThree" class="collapse" data-parent="#accordion">
	                                    <div class="card-body">
	                                    	<div class="DishList">
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div> 

	                            <div class="card">
	                                <div class="card-header" data-toggle="collapse" href="#collapseFour">
	                                    <h5>Breakfast</h5>
	                                </div>
	                                <div id="collapseFour" class="collapse" data-parent="#accordion">
	                                    <div class="card-body">
	                                    	<div class="DishList">
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div> 

	                            <div class="card">
	                                <div class="card-header" data-toggle="collapse" href="#collapseFive">
	                                    <h5>Drinks</h5>
	                                </div>
	                                <div id="collapseFive" class="collapse" data-parent="#accordion">
	                                    <div class="card-body">
	                                    	<div class="DishList">
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div> 

	                            <div class="card">
	                                <div class="card-header" data-toggle="collapse" href="#collapseSix">
	                                    <h5>Indian</h5>
	                                </div>
	                                <div id="collapseSix" class="collapse" data-parent="#accordion">
	                                    <div class="card-body">
	                                    	<div class="DishList">
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div> 

	                            <div class="card">
	                                <div class="card-header" data-toggle="collapse" href="#collapseSeven">
	                                    <h5>Chinese</h5>
	                                </div>
	                                <div id="collapseSeven" class="collapse" data-parent="#accordion">
	                                    <div class="card-body">
	                                    	<div class="DishList">
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                     	<article data-toggle="modal" data-target="#ChoiceModal">
		                                        	<div class="DishLeft">
		                                        		<figure><img src="assets/img/dish.png"></figure>
		                                        		<figcaption>
			                                        		<h3>Stir-Fried Spicy and Herb </h3>
			                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			                                        	</figcaption>
		                                        	</div>

		                                        	<div class="DishRight">
		                                        		<h4><span>AED 10.00</span></h4>
		                                        		<div class="Spinner">
		                                        			<span class="Button">-</span>
		                                        			<span class="Text">1</span>
		                                        			<span class="Button">+</span>
		                                        		</div>
		                                        	</div>
		                                        </article>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div> 


	                        </div>
						</div>
					</div>
				</div>
			</div> 

		</div>
	</div>
</section>

<div class="ModalBox">
	<div class="modal" id="ChoiceModal">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	    		<div class="ChoiceBox">

	    			<div class="ChoiceHead">
	    				<h4>Add Item Choice</h4>
	    				<button type="button" class="close" data-dismiss="modal">&times;</button>
	    			</div> 

	    			<div class="DishList">
                    	<article>
                        	<div class="DishLeft"> 
                        		<figcaption>
                            		<h3>Stir-Fried Spicy and Herb </h3>
                            		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget massa et nibh euismod aliquam id sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            	</figcaption>
                        	</div>

                        	<div class="DishRight">
                        		<h4><span>AED 10.00</span></h4>
                        		<div class="Spinner">
                        			<div class="number-spinner number-spinner">
										<ngx-number-spinner
										[value]="0"
										(change)="change($event)" 
										[min]="1">
									</ngx-number-spinner>
									</div>
                        		</div>
                        	</div>
                        </article>
                    </div>

                    <div class="ChoiceFooter">
                    	<h3>Your Choice Of Bread:  <span class="pinky">(Choose 1)</span></h3>
                    	<ul>
                    		<li>
                    			Italian Bread
                    			<span>
									<div class="Radio">
										<input type="radio" name="payment">
										<span></span>
									</div>
                    			</span>
                    		</li>
                    		<li>
                    			Wheat Bread
                    			<span>
                    				<div class="Radio">
										<input type="radio" name="payment">
										<span></span>
									</div>
                    			</span>
                    		</li>
                    		<li>
                    			Parmesan Oregano Bread
                    			<span>
                    				<div class="Radio">
										<input type="radio" name="payment">
										<span></span>
									</div>
                    			</span>
                    		</li>
                    		<li>
                    			Honey Oat Bread
                    			<span>
                    				<div class="Radio">
										<input type="radio" name="payment">
										<span></span>
									</div>
                    			</span>
                    		</li>
                    		<li>
                    			Flat  Bread
                    			<span>
                    				<div class="Radio">
										<input type="radio" name="payment">
										<span></span>
									</div>
                    			</span>
                    		</li>
                    		<li>
                    			Make it Habanero Wrap
                    			<span>
                    				<div class="Radio">
										<input type="radio" name="payment">
										<span></span>
									</div>
                    			</span>
                    		</li> 
                    	</ul>

                    	<a href="javascript:void(0);" class="Add" data-dismiss="modal">Add to cart</a>

                    </div>

	    		</div> 
	    	</div>
	  	</div>
	</div>
</div>

<app-footer></app-footer>
