<app-header3></app-header3>

<section class="reviewAlll">
    <div class="container">
        <div class="offerInner">
            <h2 class="heading">Reviews</h2>
        </div>
        <div class="reviewInner">
            <div class="profileName">
                <img src="assets/img/profile.svg" alt="profile">
            </div>
            <div class="profileDett">
                <h2>Deepanshu Tyagi <span class="date">23-03-2021</span></h2>
                <ul>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                </ul>
                <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page,
                    etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages
                    with meaningless filler text can be very useful when the focus is meant to be on design, not
                    content.</p>
            </div>
        </div>
             <div class="reviewInner">
            <div class="profileName">
                <img src="assets/img/profile.svg" alt="profile">
            </div>
            <div class="profileDett">
                <h2>Deepanshu Tyagi <span class="date">23-03-2021</span></h2>
                <ul>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                </ul>
                <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page,
                    etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages
                    with meaningless filler text can be very useful when the focus is meant to be on design, not
                    content.</p>
            </div>
        </div>
        <div class="reviewInner">
            <div class="profileName">
                <img src="assets/img/profile.svg" alt="profile">
            </div>
            <div class="profileDett">
                <h2>Deepanshu Tyagi <span class="date">23-03-2021</span></h2>
                <ul>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                </ul>
                <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page,
                    etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages
                    with meaningless filler text can be very useful when the focus is meant to be on design, not
                    content.</p>
            </div>
        </div>
        <div class="reviewInner">
            <div class="profileName">
                <img src="assets/img/profile.svg" alt="profile">
            </div>
            <div class="profileDett">
                <h2>Deepanshu Tyagi <span class="date">23-03-2021</span></h2>
                <ul>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                </ul>
                <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page,
                    etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages
                    with meaningless filler text can be very useful when the focus is meant to be on design, not
                    content.</p>
            </div>
        </div>
        <div class="reviewInner">
            <div class="profileName">
                <img src="assets/img/profile.svg" alt="profile">
            </div>
            <div class="profileDett">
                <h2>Deepanshu Tyagi <span class="date">23-03-2021</span></h2>
                <ul>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/img/star.png" alt="star"></a></li>
                </ul>
                <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page,
                    etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages
                    with meaningless filler text can be very useful when the focus is meant to be on design, not
                    content.</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>