<app-header2></app-header2>

<section class="offers Account paddingTop">
    <div class="container">
        <div class="offerInner Accountinner">
            <h2 class="heading">My Account</h2>
        </div>
        <div class="accountDetails">
            <div class="row">
                <div class="col-sm-3">
                    <ul class="nav nav-tabs tabMenu">
                        <li class="active"><a   [routerLink]="['/accountinfo']" >Account Info</a></li>
                        <li><a  class="active" [routerLink]="['/favourites']">Favourites</a></li>
                        <li><a [routerLink]="['/savedaddress']">Saved Addresses </a></li>
                        <li><a [routerLink]="['/paymentcard']">Payment Card</a></li>
                    </ul>
                    <div class="orderDett">
                        <a href="javascript:void(0)" class="btnss btnHover" routerLink="/myorder">My Orders <span
                                style="margin-left: 5px;"><i class="fa fa-angle-right"></i></span></a>
                    </div>
                </div>
            
                <div class="col-sm-9">

                    <div class="allTabs">
                        <div class="tab-content">
                     

                                <div  class="RestaurantBox outlineAll" [routerLink]="['/restaurants-details']">
                                    <figure>
                                        <img src="assets/img/Burger-logo.png">
                                    </figure>
                                    <figcaption>
                                        <div>
                                            <h3>Burger King</h3>
                                            <h5>Burger, Whoppers, Sides, Breakfast</h5>
                                            <h4><img src="assets/img/star.png"> 4.9 <span class="reviewAll" [routerLink]="['/review']">(592 Reviews)</span></h4>
                                         

                                            <ul>
                                                <li>
                                                    <img src="assets/img/clock.png">
                                                    25 Min
                                                </li>
                                                <li>
                                                    <span class="Price">AED 50.00</span>
                                                    <span class="Title">Minimum Order Value</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <aside>
                                            <a href="javascript:void(0)" ><i class="fa fa-heart"></i></a>
                                            <h6><img src="assets/img/scooter.png"> AED 5.00</h6>
                                            <p>Delivery fee</p>
                                        </aside>
                                    </figcaption>

                                </div>
                                <div  class="RestaurantBox outlineAll" [routerLink]="['/restaurants-details']">
                                    <figure>
                                        <img src="assets/img/Burger-logo.png">
                                    </figure>
                                    <figcaption>
                                        <div>
                                            <h3>Burger King</h3>
                                            <h5>Burger, Whoppers, Sides, Breakfast</h5>
                                            <h4><img src="assets/img/star.png"> 4.9 <span class="reviewAll" [routerLink]="['/review']">(592 Reviews)</span></h4>
                                            

                                            <ul>
                                                <li>
                                                    <img src="assets/img/clock.png">
                                                    25 Min
                                                </li>
                                                <li>
                                                    <span class="Price">AED 50.00</span>
                                                    <span class="Title">Minimum Order Value</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <aside>
                                            <a href="javascript:void(0)"><i class="fa fa-heart"></i></a>
                                            <h6><img src="assets/img/scooter.png"> AED 5.00</h6>
                                            <p>Delivery fee</p>
                                        </aside>
                                    </figcaption>

                                </div>
                                <div  class="RestaurantBox outlineAll" [routerLink]="['/restaurants-details']">
                                    <figure>
                                        <img src="assets/img/Burger-logo.png">
                                    </figure>
                                    <figcaption>
                                        <div>
                                            <h3>Burger King</h3>
                                            <h5>Burger, Whoppers, Sides, Breakfast</h5>
                                            <h4><img src="assets/img/star.png"> 4.9 <span class="reviewAll" [routerLink]="['/review']">(592 Reviews)</span></h4>
                                          

                                            <ul>
                                                <li>
                                                    <img src="assets/img/clock.png">
                                                    25 Min
                                                </li>
                                                <li>
                                                    <span class="Price">AED 50.00</span>
                                                    <span class="Title">Minimum Order Value</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <aside>
                                            <a href="javascript:void(0)" ><i class="fa fa-heart"></i></a>
                                            <h6><img src="assets/img/scooter.png"> AED 5.00</h6>
                                            <p>Delivery fee</p>
                                        </aside>
                                    </figcaption>

                                </div>

                            </div>
                        </div>
                    </div>

               
            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>

