<app-header></app-header>

<section class="homeSection homeHeight">
    <div class="leftTop position">
        <img src="assets/img/4.png" alt="img">
    </div>
    <div class="rightTop position">
        <img src="assets/img/1.png" alt="img">
    </div>
    <div class="leftbottom position">
        <img src="assets/img/3.png" alt="img">
    </div>
    <div class="rightbottom position">
        <img src="assets/img/2.png" alt="img">
    </div>
    <div class="container">
        <div class="homeInner">
            <h2 class="main">Lorem Ipsum is simply dummy text</h2>
            <p class="main">Find Restaurants Delivering right now,  <span class="paddLeft">near you</span></p>
            <form action="" class="flexAl">
                <div class="form-group location">
                    <span class="loca"><img src="assets/img/location.svg" alt="location"></span>
                    <span class="loca2"><img src="assets/img/location2.svg" alt="location"></span>
                    <input type="text" class="form-control" placeholder="Enter Location">
                </div>
                <div class="form-group butns">
                    <button class="btns btnHover" [routerLink]="['/restaurants']">Find Restaurant</button> 
                </div>
            </form>

        </div>
    </div>
</section>



<section class="restInPocket">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="restLeft">
                    <h2>Restaurants in Your Pocket</h2>
                    <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <ul>
                        <li><a href="https://www.apple.com/in/app-store/" target="_Blank"><img src="assets/img/app.png" alt="btn"></a></li>
                        <li><a href="https://play.google.com/store" target="_Blank"><img src="assets/img/google.png" alt="btn"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="restRight">
                    <img src="assets/img/phonenew.png" alt="phone">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="becomePartner paddingAl">
    <div class="container">
        <div class="becomeInner">
            <h2 >Become a Partner</h2>
            <p><span><img src="assets/img/shape.png" alt="shape"></span></p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="partnerImg">
                    <img src="assets/img/partner.png" alt="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="partnerCon">
                    <h2 class="head">Become a Partner</h2>
                    <p class="head">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <a href="http://mobulous.co.in/bite.me-brand-panel" target="_Blank" class="btnHover">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>