<app-header2></app-header2>

<section class="offers paddingTop order2">
    <div class="container">
        <div class="offerInner">
            <h2 class="heading"><span class="opacity">My Order-</span> Running Order</h2>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="order2Img">
                    <img src="assets/img/ordernew2.png" alt="order">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="burgerAll">
                    <div class="burgerOrder">
                        <h2>Sending your order to
                            <span>Burger King</span>
                        </h2>
                    </div>
                    <div class="burgerCancel">

                        <a href="https://www.zoho.com/signup.html" target="_blank" class="support">Support</a>
                    </div>
                </div>
                <ul class="dots" [routerLink]="['/myorder3']">
                    <li class="active"> <span>Placing Order</span></li>
                    <li class="active2"> <span>Preparing Your Order</span></li>
                    <li class="active3"> <span>On its Way</span></li>
                    <li> <span>Delivered</span></li>
                </ul>
            </div>

        </div>

        <div class="orderr">
            <div class="orderDitt">
                <h2 class="heading">Order Details</h2>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="checkoutProduct">
                        <div class="orderResSumm">
                            <h2 class="">ORDER FROM</h2>
                            <h3>Burger King</h3>
                            <p>Connaught Place, New Delhi</p>
                        </div>
        <div class="checkoutBoxsh">
            <div class="ProductBox viss ProductBox22">
        
                <article>
                    <!-- <figure>
                        <img src="assets/img/subway.png">
                    </figure> -->
                    <figcaption class="newVeg">
                        <h3>Panner Tikka x 1</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        <h4>AED 90.00</h4>
                    </figcaption>
                </article>
                <aside>
            
             
                </aside>
            </div>
        <div class="ProductBox viss ProductBox22">
        
                <article>
                    <!-- <figure>
                        <img src="assets/img/subway.png">
                    </figure> -->
                    <figcaption class="newVeg newVeg2">
                        <h3>Chicken Teriyaki 6 Inch Sandwich x 1</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        <h4>AED 90.00</h4>
                    </figcaption>
                </article>
                <aside>
            
                 
                </aside>
            </div>
        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="CheckoutBox CheckoutBoxnew ">
                        <div class="PaymentBox ">
                        <div class="PaymentBoxRight">
                            <p>Delivery Charge <span>AED 0.00</span></p>
                            <p>Subtotal <span>AED 90.00</span></p>
                            <p>Coupon Discount <span> - AED 10.00</span></p>
                            <h4>Total <span>AED 80.00</span></h4>
              
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="totalPrice">
            <div class="orderDitt">
                <h2 class="heading">Customer Details</h2>
            </div>
            <div class="offerInner">
                <!-- <h2 class="heading"><span class="opacity">Total Price :</span> AED 20.00</h2> -->
            </div>
            <div class="cancelAddress">
                <h2 class="add"><span class="local"><img src="assets/img/locationp.svg" alt="location"></span>L-709
                    Shastri Nagar Meerut</h2>
                <h2>Payment Mode: COD</h2>
                <h2>Radission Blu</h2>
            </div>
            <div class="newAdd">
                <ul>
                    <li>Experted Delivery Time <span class="value">2.00 PM</span></li>
                    <li>Phone Number <span class="value">8126362520</span></li>
                    <li>Delivery Person <span class="value">Deepanshu </span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>