
<app-header2></app-header2>

<section class="offers paddingTop">
    <div class="container">
        <div class="offerInner">
            <h2 class="heading">Offers</h2>
        </div>

        <div class="offerContent">
            <div class="offerLeft">
                <img src="assets/img/setting.svg" alt="setting">
            </div>
         
                <div class="itemRight offerRight">
                    <h2>Burger King</h2>
                    <p>Stir-Fried Spicy and Herb </p>
                    <h5>Italian</h5>
                    <h3>FOOD25</h3>
                    <h5>Till : 17/02/2021 , 12:00</h5>
                </div>
         
        </div>
        <div class="offerContent">
            <div class="offerLeft">
                <img src="assets/img/setting.svg" alt="setting">
            </div>
         
                <div class="itemRight offerRight">
                    <h2>Burger King</h2>
                    <p>Stir-Fried Spicy and Herb </p>
                    <h5>Italian</h5>
                    <h3>FOOD25</h3>
                    <h5>Till : 17/02/2021 , 12:00</h5>
                </div>
         
        </div>
        <div class="offerContent">
            <div class="offerLeft">
                <img src="assets/img/setting.svg" alt="setting">
            </div>
         
                <div class="itemRight offerRight">
                    <h2>Burger King</h2>
                    <p>Stir-Fried Spicy and Herb </p>
                    <h5>Italian</h5>
                    <h3>FOOD25</h3>
                    <h5>Till : 17/02/2021 , 12:00</h5>
                </div>
         
        </div>
        <div class="offerContent">
            <div class="offerLeft">
                <img src="assets/img/setting.svg" alt="setting">
            </div>
         
                <div class="itemRight offerRight">
                    <h2>Burger King</h2>
                    <p>Stir-Fried Spicy and Herb </p>
                    <h5>Italian</h5>
                    <h3>FOOD25</h3>
                    <h5>Till : 17/02/2021 , 12:00</h5>
                </div>
         
        </div>
        <div class="offerContent">
            <div class="offerLeft">
                <img src="assets/img/setting.svg" alt="setting">
            </div>
         
                <div class="itemRight offerRight">
                    <h2>Burger King</h2>
                    <p>Stir-Fried Spicy and Herb </p>
                    <h5>Italian</h5>
                    <h3>FOOD25</h3>
                    <h5>Till : 17/02/2021 , 12:00</h5>
                </div>
         
        </div>
        <div class="offerContent">
            <div class="offerLeft">
                <img src="assets/img/setting.svg" alt="setting">
            </div>
         
                <div class="itemRight offerRight">
                    <h2>Burger King</h2>
                    <p>Stir-Fried Spicy and Herb </p>
                    <h5>Italian</h5>
                    <h3>FOOD25</h3>
                    <h5>Till : 17/02/2021 , 12:00</h5>
                </div>
         
        </div>
        <div class="offerContent">
            <div class="offerLeft">
                <img src="assets/img/setting.svg" alt="setting">
            </div>
         
                <div class="itemRight offerRight">
                    <h2>Burger King</h2>
                    <p>Stir-Fried Spicy and Herb </p>
                    <h5>Italian</h5>
                    <h3>FOOD25</h3>
                    <h5>Till : 17/02/2021 , 12:00</h5>
                </div>
         
        </div>
        <div class="offerContent">
            <div class="offerLeft">
                <img src="assets/img/setting.svg" alt="setting">
            </div>
         
                <div class="itemRight offerRight">
                    <h2>Burger King</h2>
                    <p>Stir-Fried Spicy and Herb </p>
                    <h5>Italian</h5>
                    <h3>FOOD25</h3>
                    <h5>Till : 17/02/2021 , 12:00</h5>
                </div>
         
        </div>
    </div>
</section>

<app-footer></app-footer>