

<app-header2></app-header2>

<section class="offers myOrders paddingTop">
    <div class="container">
        <div class="offerInner">
            <h2 class="heading">My Order</h2>

            <div class="myorderIn">
                <ul class="nav nav-tabs orderTab">
                    <li class="active"><a data-toggle="tab" href="#order1" class="active">Running Order</a></li>
                    <li><a data-toggle="tab" href="#order2">Past Order </a></li>
            
                  </ul>
                  <div class="tab-content">
                    <div id="order1" class="tab-pane fade in active show">
                     
                 <div class="orderDel">
                     <p><span class="imgs"><img src="assets/img/order1.svg" alt="order"></span>
                    <span class="content">#2145</span>
                    </p>
                    <div class="orderdetIn">
                        <div class="orderLeft">
                            <div class="orderLImg">
                                <img src="assets/img/ice.png" alt="ice">
                            </div>
                        </div>
                        <div class="orderRight">
                            <h2>Whipping cream</h2>
                            <p>$03.99</p>
                        <div class="AllUL">    <ul>
                            <li>Items:<span> 5</span></li>
                            <li>Delivery time:<span> 20 Min</span></li>
                        </ul>
                    <ul class="trachBtn">
                        <li><a href="javascript:void(0)" class="active"  [routerLink]="['/myorder3']">Track Order</a></li>
                        <li><a href="javascript:void(0)" [routerLink]="['/support']">Support</a></li>
                    </ul>
                    </div>
                        </div>
                    </div>
                 </div>
                 <div class="orderDel">
                    <p><span class="imgs"><img src="assets/img/order1.svg" alt="order"></span>
                   <span class="content">#2145</span>
                   </p>
                   <div class="orderdetIn">
                       <div class="orderLeft">
                           <div class="orderLImg">
                               <img src="assets/img/ice.png" alt="ice">
                           </div>
                       </div>
                       <div class="orderRight">
                           <h2>Tortilla Wrap</h2>
                           <p>$03.99</p>
                       <div class="AllUL">    <ul>
                           <li>Items:<span> 5</span></li>
                           <li>Delivery time:<span> 20 Min</span></li>
                       </ul>
                   <ul class="trachBtn">
                    <li><a href="javascript:void(0)" class="active"  [routerLink]="['/myorder3']">Track Order</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/support']">Support</a></li>
                   </ul>
                   </div>
                       </div>
                   </div>
                </div>
                <div class="orderDel">
                    <p><span class="imgs"><img src="assets/img/order1.svg" alt="order"></span>
                   <span class="content">#2145</span>
                   </p>
                   <div class="orderdetIn">
                       <div class="orderLeft">
                           <div class="orderLImg">
                               <img src="assets/img/ice.png" alt="ice">
                           </div>
                       </div>
                       <div class="orderRight">
                           <h2>Whipping Cream</h2>
                           <p>$03.99</p>
                       <div class="AllUL">    <ul>
                           <li>Items:<span> 5</span></li>
                           <li>Delivery time:<span> 20 Min</span></li>
                       </ul>
                   <ul class="trachBtn">
                    <li><a href="javascript:void(0)" class="active"  [routerLink]="['/myorder3']">Track Order</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/support']">Support</a></li>
                   </ul>
                   </div>
                       </div>
                   </div>
                </div>
                <div class="orderDel">
                    <p><span class="imgs"><img src="assets/img/order1.svg" alt="order"></span>
                   <span class="content">#2145</span>
                   </p>
                   <div class="orderdetIn">
                       <div class="orderLeft">
                           <div class="orderLImg">
                               <img src="assets/img/ice.png" alt="ice">
                           </div>
                       </div>
                       <div class="orderRight">
                           <h2>Tortilla Wrap</h2>
                           <p>$03.99</p>
                       <div class="AllUL">    <ul>
                           <li>Items:<span> 5</span></li>
                           <li>Delivery time:<span> 20 Min</span></li>
                       </ul>
                   <ul class="trachBtn">
                    <li><a href="javascript:void(0)" class="active"  [routerLink]="['/myorder3']">Track Order</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/support']">Support</a></li>
                   </ul>
                   </div>
                       </div>
                   </div>
                </div>
                <div class="orderDel">
                    <p><span class="imgs"><img src="assets/img/order1.svg" alt="order"></span>
                   <span class="content">#2145</span>
                   </p>
                   <div class="orderdetIn">
                       <div class="orderLeft">
                           <div class="orderLImg">
                               <img src="assets/img/ice.png" alt="ice">
                           </div>
                       </div>
                       <div class="orderRight">
                           <h2>Whipping Cream</h2>
                           <p>$03.99</p>
                       <div class="AllUL">    <ul>
                           <li>Items:<span> 5</span></li>
                           <li>Delivery time:<span> 20 Min</span></li>
                       </ul>
                   <ul class="trachBtn">
                    <li><a href="javascript:void(0)" class="active"  [routerLink]="['/myorder3']">Track Order</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/support']">Support</a></li>
                   </ul>
                   </div>
                       </div>
                   </div>
                </div>
                    </div>
                    <div id="order2" class="tab-pane fade">
                        <div class="orderDel">
                            <p><span class="imgs"><img src="assets/img/order1.svg" alt="order"></span>
                           <span class="content">#2145</span>
                           </p>
                           <div class="orderdetIn">
                               <div class="orderLeft">
                                   <div class="orderLImg">
                                       <img src="assets/img/ice.png" alt="ice">
                                   </div>
                               </div>
                               <div class="orderRight">
                                   <h2>Tortilla Wrap</h2>
                                   <p>$03.99</p>
                               <div class="AllUL">    <ul>
                                   <li>Items:<span> 5</span></li>
                                   <li>Delivery time:<span> 20 Min</span></li>
                               </ul>
                           <ul class="trachBtn">
                            <li><a href="javascript:void(0)" class="active"  [routerLink]="['/checkout']">Re-Order</a></li>
                            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModalrate"
                                data-dismiss="modal">Rate</a></li>
                           </ul>
                           </div>
                               </div>
                           </div>
                        </div>

                        <div class="orderDel">
                            <p><span class="imgs"><img src="assets/img/order1.svg" alt="order"></span>
                           <span class="content">#2145</span>
                           </p>
                           <div class="orderdetIn">
                               <div class="orderLeft">
                                   <div class="orderLImg">
                                       <img src="assets/img/ice.png" alt="ice">
                                   </div>
                               </div>
                               <div class="orderRight">
                                   <h2>Whipping Cream</h2>
                                   <p>$03.99</p>
                               <div class="AllUL">    <ul>
                                   <li>Items:<span> 5</span></li>
                                   <li>Delivery time:<span> 20 Min</span></li>
                               </ul>
                           <ul class="trachBtn">
                            <li><a href="javascript:void(0)" class="active"  [routerLink]="['/checkout']">Re-Order</a></li>
                            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModalrate"
                                data-dismiss="modal">Rate</a></li>
                           </ul>
                           </div>
                               </div>
                           </div>
                        </div>

                        <div class="orderDel">
                            <p><span class="imgs"><img src="assets/img/order1.svg" alt="order"></span>
                           <span class="content">#2145</span>
                           </p>
                           <div class="orderdetIn">
                               <div class="orderLeft">
                                   <div class="orderLImg">
                                       <img src="assets/img/ice.png" alt="ice">
                                   </div>
                               </div>
                               <div class="orderRight">
                                   <h2>Tortilla Wrap</h2>
                                   <p>$03.99</p>
                               <div class="AllUL">    <ul>
                                   <li>Items:<span> 5</span></li>
                                   <li>Delivery time:<span> 20 Min</span></li>
                               </ul>
                           <ul class="trachBtn">
                            <li><a href="javascript:void(0)" class="active"  [routerLink]="['/checkout']">Re-Order</a></li>
                            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModalrate"
                                data-dismiss="modal">Rate</a></li>
                           </ul>
                           </div>
                               </div>
                           </div>
                        </div>

                        <div class="orderDel">
                            <p><span class="imgs"><img src="assets/img/order1.svg" alt="order"></span>
                           <span class="content">#2145</span>
                           </p>
                           <div class="orderdetIn">
                               <div class="orderLeft">
                                   <div class="orderLImg">
                                       <img src="assets/img/ice.png" alt="ice">
                                   </div>
                               </div>
                               <div class="orderRight">
                                   <h2>Whipping Cream</h2>
                                   <p>$03.99</p>
                               <div class="AllUL">    <ul>
                                   <li>Items:<span> 5</span></li>
                                   <li>Delivery time:<span> 20 Min</span></li>
                               </ul>
                           <ul class="trachBtn">
                            <li><a href="javascript:void(0)" class="active"  [routerLink]="['/checkout']">Re-Order</a></li>
                            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModalrate"
                                data-dismiss="modal">Rate</a></li>
                           </ul>
                           </div>
                               </div>
                           </div>
                        </div>

                        <div class="orderDel">
                            <p><span class="imgs"><img src="assets/img/order1.svg" alt="order"></span>
                           <span class="content">#2145</span>
                           </p>
                           <div class="orderdetIn">
                               <div class="orderLeft">
                                   <div class="orderLImg">
                                       <img src="assets/img/ice.png" alt="ice">
                                   </div>
                               </div>
                               <div class="orderRight">
                                   <h2>Whipping Cream</h2>
                                   <p>$03.99</p>
                               <div class="AllUL">    <ul>
                                   <li>Items:<span> 5</span></li>
                                   <li>Delivery time:<span> 20 Min</span></li>
                               </ul>
                           <ul class="trachBtn">
                            <li><a href="javascript:void(0)" class="active"  [routerLink]="['/checkout']">Re-Order</a></li>
                            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModalrate"
                                data-dismiss="modal">Rate</a></li>
                           </ul>
                           </div>
                               </div>
                           </div>
                        </div>
                    </div>
                 
                  </div>
            </div>
        </div>
        </div>
</section>

<app-footer></app-footer>

<div class="modal modalNew2" id="myModalrate">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body modalBody modalBody2">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modalBod">
                    <h2>How Was The Food Taste ?</h2>
                    <div class="feedback">
                        <div class="rating">
                          <input type="radio" name="rating" id="rating-5">
                          <label for="rating-5"></label>
                          
                          <input type="radio" name="rating" id="rating-4">
                          <label for="rating-4"></label>
                          
                          <input type="radio" name="rating" id="rating-3">
                          <label for="rating-3"></label>
                          
                          <input type="radio" name="rating" id="rating-2">
                          <label for="rating-2"></label>
                          
                          <input type="radio" name="rating" id="rating-1">
                          <label for="rating-1"></label>
                        </div>
                      </div>
                    <div class="form-group loginDet" style="padding-left: 15px;">
                
                        <label for="">Message</label>
                        <textarea type="text" class="form-control"
                            placeholder="Message" rows="5"></textarea>

                    </div>
           
                    <div class="centerBtn">
                        <a href="javascript:void(0)" class="btns" data-dismiss="modal">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>